.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.container__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 440px) {
    .main {
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
